# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage

# env files (never commit real env values)
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo

# logs
npm-debug.log*
pnpm-debug.log*
